* {
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 20px;
}

.Resume {
  display: flex;
}



.Personal-Info {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 3px solid #81aebb;
}

label {
  display: flex;
  width: 250px;
  text-align: right;
}


.full-name {
  color: #195c70
}

.current-job, .job-title {
  color: #5e5e5e;
}

.Personal-Info h6,
.full-name,
.current-job,
.contact-info {
  background-color: white;
}


.education-title,
.work-title {
  color: #81aebb
}

.education-content,
.work-content {
  display: flex;
  justify-content: space-between;
}

.education-time {
  display: flex;
  gap: .2rem
}

.work-edit,
.education-edit,
.personal-edit {
  display: flex;
  flex-direction: column;
}

.company-time {
  display: flex;
  gap: .2rem
}

.date {
  display: flex;
}

.work-description,
.personal-description {
  word-wrap: break-word;
  font:italic;
}

.personal-description{
  padding-bottom:15px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.work-description{
  padding-top:10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
input,
textarea {
  border: 1px solid #5e5e5e;
  border-radius: 3px;
  font-size: 1rem;
  padding: 5px;
}

button {
  color: #333;
  border: 1px solid #5e5e5e;
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 150ms;
  width: 5rem;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 3px 0 hsl(0 0% 0% / 0.1);
}

.load-example{
  background-color:lightgreen
}

.reset-form{
  background-color:lightcoral
}

.load-pdf{
  background-color: #81aebb;
}

.load-pdf, .load-example, .reset-form{
  display:flex;
  justify-content: center;
}