*{
  background-color: #cbd5e1;
}

.main{
  display: flex;
  -webkit-box-pack: justify;
  gap: 2rem;
  justify-content: space-between;
  padding: 2rem 15rem;
}

header{
    -webkit-box-pack: center;
    justify-content: center;
    font-family: "Zen Tokyo Zoo", cursive;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 3rem 8rem;
    margin: 0px auto;
    color: rgb(238, 238, 238);
    font-size: 2.2rem;
    background-color: #64748b;
}

.Personal-Information{
  display:flex;
  gap:10rem;
}

.Personal-Info{
  display:flex;
  justify-content: space-between;
  gap: 5rem;
}

label{
  display: flex;
  width: 250px;
  text-align: right;
}

.cv-view{
  width: 45vw
}

.full-name{
  color:#195c70
}

.current-job, .task-text{
  color:#5e5e5e
}

.education-title, .work-title, .Tasks{
  color: #81aebb
}
.education-content, .work-content{
  display:flex;
  justify-content: space-between;
}
.education-info{
  display:flex;
  gap:1rem
}

.company-time{
  display:flex;
  gap:1rem
}

.date{
  display:flex;
}

.task-content{
  display:flex;
  gap: 3rem
}

